@use "__breakpoints" as *;

body {
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.page-container {
    max-width: 23.4375rem;
    margin: 1.75rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint('md') {
        max-width: 68.75rem;
    }
}

.news {

    
}