@use "../layout/__breakpoints" as *;

.nav {
    // position: relative;
    
    @include breakpoint('md') {
        height: auto;
        width: auto;
    }
    
    .active {
        display: flex;
    }

    &__list {
        list-style-type: none;
        
        @include breakpoint('md') {
            display: flex;
            position: relative;
            height: auto;
            width: auto;
            flex-direction: row;
        }
    }

    &__link {
        font-size: 1.125rem;
        padding: .75rem 0;

        @include breakpoint('md') {
            margin: 0;
            padding: .75rem 1.28125rem;
        }
    }

    &__toggle {
        &--close {
            width: 31px;
            height: 31px;
            align-self: flex-end;
            // display: none;
            &:hover {
                cursor: pointer;
            }
           
        }
        &--open {
            width: 41px;
            height: 17px;
            display: flex;
            

            @include breakpoint('md') {
                display: none;
            }
        }
    }

    &__content {
        background-color: white;
        position:absolute;
        height: 100%;
        width: 70%;
        padding: 1.75rem;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: 5.375rem;

        @include breakpoint('md') {
            position: relative;
            display: flex;
            padding: 0;
            width: auto;
            height: auto;
            align-items: center;
            justify-content: center;
        }
    }
}