@import url("/assets/fonts/Inter-VariableFont_slnt,wght.ttf");
:root {
  --color-almost-white: #FFFDFA;
  --color-dark-space-blue: #00001A;
  --color-gunmetal: #5E607A;
  --color-light-vermillion: #F15D51;
  --color-silver: #C5C6CE;
  --color-yellow: #E9AA52;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

body {
  box-sizing: inherit;
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

img,
picture {
  max-width: 100%;
}

body {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.page-container {
  min-width: 23.4375rem;
  padding-inline: 1rem;
  margin: 1.75rem auto 0 auto;
}
@media (min-width: 45rem) {
  .page-container {
    max-width: 68.75rem;
    padding: 0;
    min-width: none;
  }
}

.news {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 5rem;
  gap: 4rem;
}
@media (min-width: 45rem) {
  .news {
    grid-template-columns: 2fr 1fr;
    gap: 0;
  }
}

h1,
h2,
h3,
h4 {
  color: var(--color-dark-space-blue);
}

h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 2rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--color-dark-space-blue);
  margin-bottom: 2rem;
}
.header__logo {
  width: 45px;
  height: 28px;
}
@media (min-width: 45rem) {
  .header__logo {
    width: 65px;
    height: 40px;
  }
}
/*
    Modal menu
*/
.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  animation: 0.4s fadeIn;
}
@media (min-width: 45rem) {
  .modal {
    display: flex;
    background-color: transparent;
    position: relative;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 45rem) {
  .nav {
    height: auto;
    width: auto;
  }
}
.nav .__toggle {
  display: flex;
}
.nav__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 45rem) {
  .nav__list {
    position: relative;
    height: auto;
    width: auto;
    flex-direction: row;
  }
}
.nav__link {
  font-size: 1.125rem;
  padding: 0.75rem 0;
}
@media (min-width: 45rem) {
  .nav__link {
    margin: 0;
    padding: 0.75rem 1.28125rem;
  }
}
.nav__toggle--close {
  width: 31px;
  height: 31px;
  align-self: flex-end;
  display: none;
  cursor: pointer;
}
@media (min-width: 45rem) {
  .nav__toggle--close {
    display: none;
  }
}
.nav__toggle--open {
  width: 41px;
  height: 17px;
  cursor: pointer;
}
@media (min-width: 45rem) {
  .nav__toggle--open {
    display: none;
  }
}
.nav__content {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 70%;
  padding: 1.75rem;
  right: 0;
  top: 0;
  display: none;
  flex-direction: column;
  gap: 5.375rem;
  animation: 0.4s slideInFromRight;
}
@media (min-width: 45rem) {
  .nav__content {
    background-color: transparent;
    position: relative;
    display: flex;
    padding: 0;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
  }
}

@keyframes slideInFromRight {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
.featured__article {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 45rem) {
  .featured__article > h1 {
    grid-row: 2/4;
  }
}
@media (min-width: 45rem) {
  .featured__article {
    grid-template-columns: 1fr 1fr;
    margin-right: 1.875rem;
  }
}
.featured__picture {
  grid-column: 1/2;
  margin-bottom: 1.5rem;
}
@media (min-width: 45rem) {
  .featured__picture {
    margin-bottom: 1.875rem;
    grid-column: 1/3;
  }
}
.featured__link {
  margin-top: 1.5rem;
  background: var(--color-light-vermillion);
  width: 11.5625rem;
  height: 3rem;
  color: var(--color-almost-white);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.27375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 45rem) {
  .featured__link {
    margin-top: 1.875rem;
  }
}
.featured > p {
  margin-top: 1rem;
}
@media (min-width: 45rem) {
  .featured > p {
    margin: 0;
  }
}

.new {
  background: var(--color-dark-space-blue);
  color: var(--color-almost-white);
  padding: 1.5rem 1.25rem;
}
.new__feed h3 {
  color: var(--color-yellow);
  margin-bottom: 2.1875rem;
}
@media (min-width: 45rem) {
  .new__feed h3 {
    font-size: 2.5rem;
  }
}
.new__article:not(:last-child) {
  padding-bottom: 1.8125rem;
  border-bottom: 1px solid var(--color-gunmetal);
  margin-bottom: 1.9375rem;
}
.new__article h4 {
  color: var(--color-almost-white);
  margin-bottom: 0.5rem;
}

@media (min-width: 45rem) {
  .trending {
    grid-column: 1/3;
    margin-top: 4.4375rem;
  }
}
.trending__feed {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}
@media (min-width: 45rem) {
  .trending__feed {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
    column-gap: 1.875rem;
  }
}
.trending__article {
  display: grid;
  grid-template-columns: auto 2fr;
  column-gap: 1.5rem;
}
.trending__article > img {
  grid-row: 1/4;
  height: 8.0625rem;
}
.trending__article > h3 {
  color: var(--color-silver);
}
.trending__article > p {
  color: var(--color-gunmetal);
}

/*# sourceMappingURL=style.css.map */
