@import url('/assets/fonts/Inter-VariableFont_slnt\,wght.ttf');

:root {
    --color-almost-white: #FFFDFA;
    --color-dark-space-blue: #00001A;
    --color-gunmetal: #5E607A;
    --color-light-vermillion: #F15D51;
    --color-silver: #C5C6CE;
    --color-yellow: #E9AA52;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font: inherit;
    color: inherit;
}

body {
    box-sizing: inherit;
}

img,
picture {
    max-width: 100%;
}